.container {
    height: 15em;
    display: grid;
}

.row_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.row_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.col_1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.col_1 h1 {
    cursor: pointer;
}

.col_2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.col_2 .icons {
    font-size: 30px;
}

.icons a {
    text-decoration: none;
    color: black;
}

.icons a {
    margin-left: 1em;
}

.col_3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.col_4 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .col_1 h1 {
        font-size: 24px;
    }

    .col_3 p {
        font-size: 12px;
    }

    .col_4 p {
        font-size: 12px;
    }
}

@media only screen and (max-width: 440px) {
    .row_1 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .row_2 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .col_2 {
        justify-content: flex-start;
    }

    .icons a:first-child {
        margin-left: 0;
    }

    .col_4 {
        justify-content: flex-start;
    }
}
